{% extends 'email_sending/base.html' %}
{% block title %}Главная страница{% endblock %}
{% block content %}

<div class="container text-center mt-4">
    <a href="{% url 'email_sending:recipient_form' %}" class="btn btn-primary">Создать клиента</a>

</div>

<div class="container mt-4">
    <div class="row text-center">
        {% for recipient in recipients %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ recipient.full_name }}</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- {{ recipient.comment|truncatechars:100 }}</li>
                    </ul>
                    <a href="{% url 'email_sending:recipient_detail' recipient.pk %}" class="btn btn-primary">Посмотреть</a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
