{% extends 'base.html' %}
{% block title %}Главная страница{% endblock %}
{% block content %}

<div class="container">
    <div class="row text-center">
        {% for recipient in recipients %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ recipient.full_name }}</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- {{recipient.comment|truncatechars:100}}</li>
<!--                        <li>- {{product.image}}</li>-->
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">посмотреть</button>
                    <a href="{% url 'catalog:product_create' %}"  class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Создать клиента</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}